@import '../../styles/variables.scss';

.pillars {
  margin: auto;
  width: 90%;
  padding: 1rem 0;
  margin: 5rem auto;
  text-align: left;
  .pillarsMain {
    font-size: 25px;
    font-weight: bold;
  }
  .pillarsCol {
    
    .pillarsTitle {
      font-size: 20px;
      font-weight: bold;
      .pillarsDetails {
        font-size: 16px;
      }
    }
  }
}