@import '../../styles/variables.scss';

.actRow {
	margin: auto;
	font-family: "Lantinghei TC", sans-serif;
	color: white;
	position: relative;
	margin-top: 7rem;
	margin-left: 2rem;
	.actText {
		background-color: $red;
		width: 70%;
		z-index: 3;
		padding: 1rem 1rem;
		.actTitle {
			font-weight: bold;
			float: center;
			font-size: 1.5rem;
		}
		.actDetails {
			font-weight: extralight;
			font-size: 1.25rem;
		}
	}
	
	.activism {
		position: absolute;
		width: 67%;
		z-index: 2;
		top: 15%;
		left: 12%;
	}
	
	.greybox {
		position: absolute;
		width: 60%;
		right: 5rem;
		z-index: 1;
	}
}

