@import '../../styles/variables.scss';

.servCol {
	position: relative;
	text-align: left;

	margin-top: 5rem;
	.servText {
		background-color: $gold;
		color: white;
		font-family: "Lantinghei TC", sans-serif;
		z-index: 3;
		width: 50%;
		margin: auto;
		padding: 1rem 1rem;
		text-align: center;
		position: absolute;
		top: 15%;
		left: 40%;
		.redBox {
			background-color: $red;
			z-index: 1;
			padding: 1rem 1rem;
		}
		.servTitle {
			font-weight: 600;
			font-size: 1.5rem;
		}
		.servDetails {
			font-weight: extralight;
			font-size: 1.25rem;
		}
	}
	.serv2 {
		width: 45%;
		z-index: 2;
		position: relative;
		left: 0;
	}
	.stripes {
		width: 30%;
		position: absolute;
		bottom: 10%;
		right: 30%;
	}
}