@import '../../styles/variables.scss';

.homeNavbar {
  margin: 3rem auto !important;
  width: 100%;
  text-transform: uppercase;
  .alignStart {
    text-align: start;
    padding-left: 40px ;
  }
  .logo {
    margin-top: 0.5rem;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .listInline {
    list-style: none;
    flex: 0 0 83%;
    padding-left: 0 !important;
    padding-right: 40px;
    justify-content: flex-end;
    .listInlineList {
      text-align: center;
      float: right;
      margin: 1rem 1rem;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.2em;
      text-decoration: none;
      color: #707070;
      .link {
        cursor: pointer;
        color: $blackish;
        &:hover {
          color: $dark-red;
          text-decoration: none;

        }
      }
    }
    .right {
      float: right ;
    }
  }
}