/*
====================
For Mobile
====================
*/
@media screen and (max-width: 425px) {
  .homeCol {
    width: 100% !important;
    .homeLogo {
      font-size: 40px !important;
    }

  }
  .mission {
    margin: 3rem 0;
    padding: 0.5rem 0;
    .missionTitle {
      font-size: .8rem;
    }
    .missionDetails {
      font-size: .65rem;
    }
  }

  .members {
    .brotherCol {
      margin: 0rem 0rem !important;
      .yearCols {
        margin: 0rem 0 !important;
        padding: 0 !important;
      }
      .year {
        font-size: 2rem !important;
      }
    }
  }
  .pillarsCol {
    flex: 0 0 100% !important;
  }
  .homeNavbar {
    .alignStart {
      padding-left: 0 !important;
    }
    .listInline {
      padding-right: 0 !important;
      .listInlineList {
        margin-left: 0.5em !important;
        margin-right: 0.5em !important;
      }
    }
  }
}

/*
====================
For Tablet
====================
*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .homeCol {
    width: 100% !important;
    .homeLogo {
      font-size: 55px !important;
    }
  }
  .mission {
    .missionTitle {
      font-size: 1.25rem;
    }
    .missionDetails {
      font-size: 1rem;
    }
  }
  .members {
  
    .brotherCol {
      margin: 0rem 2rem !important;
      .yearCols {
        margin: 0rem 0 !important;
      }
      .year {
        font-size: 3rem !important;
      }
    }
  }
 .pillarsCol {
   flex: 0 0 100% !important;
 }
}

/*
====================
For Small Laptops
====================
*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .homeText {
    font-size: 1.75rem;
  }

  .members {
    .topMembers {
      .heading {
        font-size: 3rem !important;
      }
    }
    .brotherCol {
      margin: 0rem 3rem !important;
      .year {
        font-size: 3rem !important;
      }
    }
  }
}

/*
====================
For Large Laptops
====================
*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .homeText {
    font-size: 2rem;
  }
}


/*
====================
For 4k and above
====================
*/
@media screen and (min-width: 1441px) {
  .members {
    .topMembers {
      .heading {
        font-size: 9rem !important;
      }
    }
    .brotherCol {
      margin: 7rem 7rem !important;
      .year {
        font-size: 6rem !important;
      }
    }
  }

}