/*
====================
For Mobile
====================
*/
@media screen and (max-width: 425px) {
  .App {
    .spacer {
      height: 12rem !important;
    }
  }
  .homeCol {
    width: 100% !important;
    .homeText {
      font-size: 0.75rem;
    }
  }
  .navBarText {
      font-size: 0.1rem;
      padding-top: 0.5rem;
    }
    .navbarLogo {
      max-width: 15%;
      float: center;
      padding-top: 1rem;
    }
  .mission {
    margin: 3rem 0;
    padding: 0.5rem 0;
    .missionTitle {
      font-size: .8rem;
    }
    .missionDetails {
      font-size: .65rem;
    }
  }
  .broCol{
    .stripes {
      top: 3rem;
    }
    .bro1 {
      width: 45%;
    }
    .brotherhoodText {
      top: 3rem;
      padding: 1rem 0.5rem;
      width: 40%;
      .brotherhoodTitle {
        font-size: 0.6rem;
      }
      .brotherhoodDetails {
        font-size: 0.4rem;
      }
    }
  }
  .actRow {
    .actText {
      .actTitle {
        font-size: 0.6rem;
      }
      .actDetails {
        font-size: 0.4rem;
      }
    }
    .activism {
      top: 45%;
      left: 15%;
    }
  }
  .servCol {
    margin-top: 0;
    .stripes {
      bottom: 5%;
    }
    .servText {
      top: 5%;
      .servTitle {
        font-size: 0.6rem;
        
      }
      .servDetails {
        font-size: 0.4rem;
        margin-bottom: 0;
      }
    }
  }
}

/*
====================
For Tablet
====================
*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .homeCol {
    width: 100% !important;
    .homeText {
      font-size: 1.5rem;
    }
  }
  .navBarText {
    font-size: .9rem;
  }
  .navbarLogo {
      padding-top: 0.5rem;
      max-width: 100%;
      float: left;
    }
  .mission {
    .missionTitle {
      font-size: 1.25rem;
    }
    .missionDetails {
      font-size: 1rem;
    }
  }
  .broCol{
    .brotherhoodText {
      top: 8rem;
      .brotherhoodTitle {
        font-size: 1rem;
      }
      .brotherhoodDetails {
        font-size: 0.8rem;
      }
    }
  }
  .actRow {
    .actText {
      .actTitle {
        font-size: 1rem;
      }
      .actDetails {
        font-size: 0.8rem;
      }
    }
    .activism {
      left: 15%;
    }
  }
  .servCol {
    margin-top: 0;
    .servText {
      .servTitle {
        font-size: 1.0rem;
      }
      .servDetails {
        font-size: 0.8rem;
      }
    }
  }
}

/*
====================
For Small Laptops
====================
*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .homeText {
    font-size: 1.75rem;
  }
  .navBarText {
    font-size: 1rem;
  }
  .navbarLogo {
    float: left;
  }
}

/*
====================
For Large Laptops
====================
*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .App {
    .spacer {
      height: 30rem !important;
    }
  }
  .homeText {
    font-size: 2rem;
  }
  .navBarText {
    font-size: 1rem;
  }
  .navbarLogo {
    float: left;
  }
  .brotherhoodText {
    .brotherhoodTitle {
      font-size: 1.5rem;
    }
    .brotherhoodDetails {
      font-size: 1.25rem;
    }
  }
  .actRow {
    .greybox {
      margin-top: 5rem;
    }
  }
}


/*
====================
For 4k and above
====================
*/
@media screen and (min-width: 1441px) {
  .homeCol {
    width: 100% !important;
  }
}