@import '../../styles/variables.scss';

.home {
  .homeNavbar {
    margin: 1rem 1rem;
    justify-content: space-between;
    .homeNavbarLogo {
      width: 90px;
      height: 80px;
      margin-right: auto;
    }
    .listInline {
      list-style: none;
      .listInlineList {
        text-align: center;
        margin: 1rem 1rem;
        .link {
          cursor: pointer;
          color: $blackish
        }
      }
    }
  }
  .homeContent {
    margin-top: 2rem;
    
    .calendar {
      margin: 0 auto;
    }
  }
}