@import '../../styles/variables.scss';

.contact {
	background-color: $blackish;
	color: white;
	font-family: "Lantinghei TC", sans-serif;
	position: relative;
	top: 5rem;
	padding: 2rem;
	font-size: 2rem;
	margin-bottom: 5rem;
}

.contactTitle {
	font-weight: bold;
}

.contactText {
	font-size: 1.5rem;
}