@import '../../styles/variables.scss';

.navbar {
  position: sticky;
}

.navBarText {
  padding: 2rem 0;
  color: $blackish;
  font-family: "Lantinghei TC", sans-serif;
}

.navBarText:hover {
  color: $red;
}
