.navbar {
  position: sticky;
}

.navbartext {
  padding: 2rem 0;
  color: #333333;
  font-size: large;
  font-family: "Lantinghei TC", sans-serif;
}

.logo {
  float: left;
}

.navbartext:hover {
  color: #821122
}
