@import '../../styles/variables.scss';

.mission {
  margin: auto;
  width: 90%;
  font-family: "Lantinghei TC", sans-serif;
  background-color: $red;
  color: white;
  padding: 1rem 0;
  margin: 5rem 0;
  .missionTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .missionDetails {
  	font-weight: extralight;
  	font-size: 1.25rem;
  }
}