@import '../../styles/variables.scss';

.indBrother {
  overflow: hidden;
  .infoBox {
    border-bottom: 10px solid $blackish;
    width: 80%;
    margin: 0 auto;
    .brotherImage {
      width: 40%;
      border-radius: 50%;
    }
    .infoDetails {
      text-align: start;
      width: 53%;
      margin-left: 3rem;
      border-top: 10px solid $blackish;
      .name {
        font-size: 3rem;
      }
      .other {
        font-size: 1.5rem;
      }
    }
  }
  .recruits {
    .header {
      font-size: 20px;
      font-weight: bold;
    }
    .recruitComments {
      margin: 3rem auto;
      padding: 3rem 0;
      width: 80%;
      .comments {
        text-align: start;
      }
      .pieChartKey {
        .yes {
          width: 20px;
          height: 20px;
          background-color: #044B7F;
          margin-right: 10px;
        }
        .no {
          width: 20px;
          height: 20px;
          background-color: #821122;
          margin-right: 10px;

        }
        .maybe {
          width: 20px;
          height: 20px;
          background-color: #107E7D;
          margin-right: 10px;

        }
      }
    }
    .redFlags {
      text-align: start;
      width: 80%;
      margin: 0 auto;
      padding: 0;
    }
  }
}