@import '../../styles/variables.scss';

.recruitVotes {
  .recruitForm {
    width: 50%;
    margin: 0 auto;
    .vote {
      justify-content: space-between;
    }
    margin-bottom: 1rem;
    button {
      background-color: $blackish;
    }
  }
}